BODY {
	FONT-SIZE: 100%; BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H2 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H4 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H5 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H6 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H7 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
H8 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H9 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:visited {
	COLOR: #008080
}
A:link {
	COLOR: #cc0000
}
A:hover {
	COLOR: #ff0000
}
A:active {
	COLOR: #0000ff
}
.topmenu {
	BACKGROUND: #cc0000
}
.mainheading {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.subheading {
	FONT-SIZE: 90%; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.foliolevel {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #006666; COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.namelevel {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #99cccc; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.addresslevel {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #dddddd; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.text {
	FONT-SIZE: 75%; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.tabletext {
	BORDER-RIGHT: black 1px solid; FONT-SIZE: 60%; BACKGROUND: #ffffff; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.homepage {
	FONT-SIZE: 90%; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.disclaimer {
	FONT-SIZE: 55%; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.tabletext2 {
	FONT-SIZE: 75%; BACKGROUND: #ffffff; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.tabletext3 {
	BORDER-RIGHT: black 1px solid; FONT-SIZE: 75%; BACKGROUND: #ffffff; LINE-HEIGHT: 18px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.selected {
	COLOR: #000000
}
.notes {
	FONT-SIZE: 75%; BACKGROUND: #eeeeee; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.news {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #99cccc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
INPUT.rad2 {
	BACKGROUND: #dddddd; COLOR: #dddddd
}
.cardlevel1 {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #9c0000; COLOR: #ffffff; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.cardlevel2 {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #dddddd; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.cardlevel3 {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: #dddddd; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.bottom1 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; BACKGROUND: #99cccc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.bottom3 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; BACKGROUND: #006666; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.bottom2 {
	FONT-SIZE: 65%; BACKGROUND: #99cccc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.warning {
	FONT-SIZE: 14pt; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}
.homepagebullets {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 90%; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; LIST-STYLE-TYPE: disc
}
.blackheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.greenlinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #006666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blacktable {
	BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid
}
