BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BACKGROUND-COLOR: #ffffff
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.text {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.bodylink {
	COLOR: #2f63ab
}
A.footertext {
	COLOR: #ffffff
}
A.view:link {
	COLOR: #2f63ab
}
A.view:visited {
	COLOR: red
}
A.view2:link {
	COLOR: #2f63ab
}
A.view2:visited {
	COLOR: #2f63ab
}
P.breadcrumb {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99b2cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Catintro {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Catlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Catlinkintro {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.date {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.dateheader {
	FONT-SIZE: 10px; COLOR: #ffff00; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
.datesmall {
	FONT-SIZE: 9px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.documenttitle {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.errortext {
	FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.formtext {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.formtext2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.formtext3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
.greylinks {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #333399; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linktext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ltbluelinks {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #00ccff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pageindexlinks {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.pageindexlinksnumbers {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.price {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.primarylinks {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.primarylinks2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.printerbodytext {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.producttype {
	FONT-WEIGHT: bold
}
.sidelinktext {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.specialprice {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.strikethroughprice {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: line-through
}
.basketTable {
	BACKGROUND: #cccccc
}
.basketHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.basketRow {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.basketQuantityBox {
	FONT-SIZE: 11px; WIDTH: 30px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.basketRemoveBox {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.basketTotalRow {
	FONT-SIZE: 11px; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.basketButton {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; FONT-SIZE: 10px; BACKGROUND: #d8d8d8; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; TEXT-DECORATION: none
}
.basketButtonDisabled {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 10px; BACKGROUND: #d8d8d8; BORDER-LEFT: #666666 1px solid; CURSOR: default; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; TEXT-DECORATION: none
}
.basketDelivery {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.OrderFormTable {
	BACKGROUND: #cccccc
}
.OrderFormHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.OrderFormAsk {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.OrderFormReply {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.OrderFormReplyRow {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.OrderFormButton {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; FONT-SIZE: 10px; BACKGROUND: #d8d8d8; BORDER-LEFT: #666666 1px solid; WIDTH: 80px; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; TEXT-DECORATION: none
}
.discountCodeTable {
	BACKGROUND: #cccccc
}
.discountCodeHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.discountCodeRow {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.discountCodeButton {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; FONT-SIZE: 10px; BACKGROUND: #d8d8d8; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; TEXT-DECORATION: none
}
.discountCodeTextBox {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 180px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.NewsletterRegistrationFormTable {
	BACKGROUND: #cccccc
}
.NewsletterRegistrationFormAsk {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5fa
}
.NewsletterRegistrationFormReply {
	FONT-SIZE: 11px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.NewsletterRegistrationFormReplyRow {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.searchBox {
	FONT-SIZE: 11px; WIDTH: 80px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidelink {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.sidelinkBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.navigationText {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sidetext {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.keywordSearch {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.genericNav {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitetext {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mandatory {
	COLOR: #ff0000
}
.announcements {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bartextwhite {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bartextblue {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytextwide {
	PADDING-LEFT: 40px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytextlisting {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.breadcrumb {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99b2cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.eventitemdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.eventitemtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.eventlistingdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.eventlistingtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faqtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faqanswer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.formelement {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.formfieldtext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #2f63ab; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footermain {
	FONT-SIZE: 11px; COLOR: #99cc33; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footergeneric {
	FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.homepagedate {
	FONT-SIZE: 11px; COLOR: #9db63c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.homepageintro {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.homepagenewstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.homepagenewsdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.huboptiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.huboptiontitleblue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.introtext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.linklisting {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.localnavtextwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.localnavtextblue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.localnavtextdata {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationmain {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navigationgeneric {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsitemdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsitemtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newslistingdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newslistingtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.usefulseealso {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2f63ab; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sitebenefitslist {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #6b90be; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabtitlegreen {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #99cc33; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titletext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.username {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #2f63ab; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.karentext {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
.bodytextprinterfriendly {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titletextprinterfriendly {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; COLOR: #2f63ab; FONT-FAMILY: Century Gothic
}
